.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-auto-rows: 50px;
    grid-template-rows: 100px;
    grid-gap: 15px;
    justify-content: center;
    padding-top: 100px;
}

.resultscreen {
    outline-style: solid;
    outline-color: black;
    outline-width: 0px;
    font-size: 50px;
    padding-right: 15px;
    border-radius: 10px;
    text-align: right;
    line-height: 75px;
    grid-column: span 4;
    background-color: white;
    margin-bottom: 30px;
}

.historyscreens {
    color: rgb(173, 169, 169);
    grid-template-rows: 100px;
    height: 100px;
    grid-column: span 4;
    outline-style: solid;
    outline-color: black;
    outline-width: 0px;
    font-size: 15px;
    border-radius: 10px;
    background-color: rgb(212, 208, 208);
    color: red;
    text-align: right;
    padding-right: 15px;
    line-height: 32px;
}

.grid-item {
    outline-style: solid;
    outline-color: black;
    outline-width: 0px;
    font-size: 20px;
    border-radius: 20px;
    background-color: black;
    color: white;
}

.grid-item:hover {
    background-color: white;
    color: black;
}

.grid-item:active {
    background-color:rgb(233, 94, 1);
    padding-left: 10px;
}

.operant {
    background-color:rgb(204, 134, 21);
}

.equal {
    background-color: green;
}

.clear {
    background-color: red;
}

.add {
    grid-row: span 2;
}

body {
    background-color: gray;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#contour {
    display: flex;
    background-color: rgba(0, 0, 0, 0.527);
    border-style: solid;
    border-radius: 30px;
    border-color: black;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-width: 20px;
    width: 500px;
    justify-content: center;
    align-items: center;
    padding-bottom: 75px;
}
