.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 10%);
    grid-auto-rows: 100px;
    grid-template-rows: 200px;
    grid-gap: 20px;
    justify-content: center;
    padding-top: 100px;
}

.resultscreen {
    outline-style: solid;
    outline-color: black;
    outline-width: 4px;
    font-size: 100px;
    padding-right: 15px;
    border-radius: 10px;
    text-align: right;
    line-height: 200px;
    grid-column: span 4;
    background-color: white;
    margin-bottom: 30px;
}

.historyscreens {
    color: rgb(173, 169, 169);
    grid-template-rows: 100px;
    height: 200px;
    grid-column: span 4;
    outline-style: solid;
    outline-color: black;
    outline-width: 5px;
    font-size: 30px;
    border-radius: 10px;
    background-color: rgb(212, 208, 208);
    color: red;
    text-align: right;
    padding-right: 15px;
    line-height: 50px;
}

.grid-item {
    outline-style: solid;
    outline-color: black;
    outline-width: 5px;
    font-size: 30px;
    border-radius: 20px;
    background-color: black;
    color: white;
}

.grid-item:hover {
    background-color: white;
    color: black;
}

.grid-item:active {
    background-color:rgb(233, 94, 1);
    padding-left: 10px;
}

.operant {
    background-color:rgb(204, 134, 21);
}

.equal {
    background-color: green;
}

.clear {
    background-color: red;
}

.add {
    grid-row: span 2;
}

body {
    background-color: gray;
}
